* {
    box-sizing: border-box;
}

body {
    position: relative;
    opacity: 0.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(90deg, rgba(83, 142, 134, 1) 0%, rgba(100, 236, 219, 1) 100%); */
    background-color: #EFEFEF;
    width: 80%;
    margin: auto;
}

.card_img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card {
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

button {
    padding: 10px 25px;
    background-color: #222126;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    opacity: 1;
}

button:hover {
    background-color: #03989E;
}

.card a {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}